.heading{
          font-size: 23px;
          width: 100%;
          margin: 0px;
}
.note{
          font-size: 15px;
          color: black;
}
body{
          background-size: cover;
}

canvas{
         background-color: white;
          border-radius: 20px;
          box-shadow: 100px #73cdf8;
}